@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #656c70;
  transition: background 1s ease;
  background: #eff4fa;
}
body.dark {
  background: #151e29;
}
body.dark .info-bar h1 {
  color: white;
}
body.dark .info-bar .search-div input {
  background: #263545;
  border-color: black;
  color: white;
}
body.dark .info-bar .search-div input:focus {
  border-color: #44aaf4 !important;
}
body.dark .employee-card {
  background: #263545;
  border-color: black;
  color: white;
}
body.dark .employee-card .photo-and-contact-info .photo-div img {
  background: #44aaf4;
  padding: 0.25rem;
}
body.dark hr {
  border: 1px solid #1b2831 !important;
}
body.dark .pagination-container ul li {
  background: #263545;
  color: white;
  border-color: black;
  transition: background 1s ease, color 1s ease;
}

header {
  height: 50px;
  width: 100%;
  display: block;
  background: #44aaf4;
}
header .toggle-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
header .toggle-div i {
  margin-right: 1rem;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}
header .toggle-div i:hover {
  transform: scale(1.1);
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-height: 90vh;
}

.info-bar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .info-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
.info-bar h1 {
  font-weight: 300;
}
.info-bar .search-div {
  position: relative;
  width: 100%;
  max-width: 350px;
  margin: 1rem auto;
}
@media (min-width: 768px) {
  .info-bar .search-div {
    margin: 0;
  }
}
.info-bar .search-div input {
  padding: 0.66rem;
  border: 1px solid #eee;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s, background 1s ease;
  color: #656c70;
  width: 100%;
}
.info-bar .search-div input.disabled {
  opacity: 0.2;
  pointer-events: none;
}
.info-bar .search-div input::placeholder {
  color: #ccc;
}
.info-bar .search-div input:focus {
  border-color: #44aaf4;
}
.info-bar .search-div i.fa-search {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ccc;
}

.employee-list {
  width: 100%;
  margin: 2rem auto;
}
@media (min-width: 1024px) {
  .employee-list {
    margin-top: 5rem;
  }
}
.employee-list ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.employee-list ul li {
  width: 100%;
  padding: 1rem;
}
@media (min-width: 768px) {
  .employee-list ul li {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .employee-list ul li {
    width: 33%;
  }
}
.employee-list ul li.hide {
  display: none;
}

.employee-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background: white;
  padding: 0.5rem;
  border: 1px solid #eee;
  min-height: 150px;
  width: 100%;
  font-size: 0.8rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: 0.2s;
  transition: transform 0.2s, background 1s ease, color 1s ease;
}
.employee-card:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.employee-card hr {
  border: 1px solid #eee;
  width: 90%;
  margin: 0 auto;
  transition: 1s ease;
}
.employee-card .photo-and-contact-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 2rem;
  width: 100%;
}
.employee-card .photo-and-contact-info .photo-div {
  margin: 0 1rem;
}
.employee-card .photo-and-contact-info .photo-div img {
  width: 45px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: transparent;
  transition: padding 0.3s ease, background 0.6s ease;
}
.employee-card .photo-and-contact-info .contact-info-div a {
  color: #5cb5f5;
  text-decoration: none;
}
.employee-card .photo-and-contact-info .contact-info-div a:hover {
  color: #44aaf4;
}

.pagination-container {
  margin-top: auto;
}
.pagination-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.pagination-container ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  margin: 0 0.25rem;
  background: white;
  border: 1px solid #eee;
  border-radius: 3px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
}
.pagination-container ul li p {
  pointer-events: none;
}
.pagination-container ul li.active {
  pointer-events: none;
  border-color: #44aaf4 !important;
  background: #44aaf4 !important;
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=styles.css.map */
